ion-header {
  --background: #ffffff;
  ion-toolbar {
    --background: #6200ee;
    --color: #ffffff;
    ion-title {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}

.no-items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    text-align: center;
    font-size: 1.2em;
    color: gray;
    padding-top: 300px;
  }
  
  .no-items p {
    font-size: 1.5em; /* Ajusta el tamaño de la fuente */
  }